<div class="content-img d-flex justify-between m-top ">
    <div class=" heading-pocket d-flex ">
    <div class="write-op font-size " >
      APP LANDING PAGE
    </div>
    <h1 class="capital-write ">
      Get things done with Appco 
    </h1>
    <div class="Data font-size padding-right width">
      <p class="paragraph">Dorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusm tempor incididunt ulabore et dolore magna aliqua.
    </p>
    <div class="download-click">
      <div>
      <button class="download">
        Download
      </button>
      <button class="play-button">
        >
      </button>
    </div>
    </div>
    </div>
  </div>
  <div id="first-img d-flex ">
  <img src="images/hero_right.png" class="first-img"  alt="img">
  </div> 
</div>