<div class="container-phase2">
    <div  class="content-img d-flex justify-between m-top d-grid gap-3">
    <div class="second-img ">
      <img src="images/best-features.png" class="circle-img  w-100" alt="img2">
    </div> 
      <div class="about-feature d-flex">
        <div class="app-faetures d-flex">
          <div class="capital-write2"> 
            <h2 class="heading-2">Some of the best features Of Our App!</h2>
            <div class="tool-kit d-flex f-rap">
            
              <div class="toolimage d-flex d-grid gap-3 w-100 Align-T ">
                <img src="images/11459460 (1).png" class="tool"    alt="tool">
              <div>
                  <h3 class="headingss">
                    Easy To Costomize
                  </h3>
                  <p class="paragraph2">
                    Aorem psum olorsit amet ectetur adipiscing elit, sed dov.
                  </p>
                </div>
                <div class="toolimage d-flex d-grid gap-3 w-100 Align-T ">
                  <img src="images/11459460 (1).png" class="tool"    alt="tool">
                  <div>
                  <h4 class="headingss">
                    Extreme Security
                  </h4>
                  <p class="paragraph2">
                    Aorem psum olorsit amet ectetur adipiscing elit, sed dov.
                  </p>
                </div>
  
              </div>
            </div>
          
            <div class="toolimage d-flex d-grid gap-3 w-100 Align-T ">
              <img src="images/11459460 (1).png" class="tool"    alt="tool">
              <div>
              <h5 class="headingss">
                Customer Support
              </h5>
              <p class="paragraph2">
                Aorem psum olorsit amet ectetur adipiscing elit, sed dov.
              </p>
            </div>
            <div class="toolimage d-flex d-grid gap-3 w-100 Align-T ">
              <img src="images/11459460 (1).png" class="tool"    alt="tool">
              <div>
              <h5 class="headingss">
                Creative Desings
              </h5>
              <p class="paragraph2">
                Aorem psum olorsit amet ectetur adipiscing elit, sed dov.
              </p>
            </div>
      </div>
    </div>
    </div>
    </div>>
    </div>
  </div>
  </div>
  </div>