  

<div class="container-phase3">
  <div class="in-midd-heading w-100 d-flex justify-center">
    <h5 class="capital-write  Align-T d-flex justify-center" style="text-align: center  ;width: 100%;font-size: 50px; margin-bottom: 90px;line-height: 1.2;">
      How Can We Help Your <br>With Appco!
    </h5>
  </div>
  <div class="detailed-boxes" style="padding-bottom: 200px;">
    <div class="width: 100%; d-flex" style="justify-content: center;">
    <div class="manage-box d-flex f-rap Align-T" style="margin-left: 20px;">
      <img src="images/7800406.png"style=width:105px;height:105px;margin-bottom:40px; alt="manage-png">
      <div class="texts"> 
        <h5 class="capital-write w-100 d-flex justify-around "style=font-size:24px;margin-bottom:24px>
          Easily Manage
        </h5>
        <p class="para d-flex justify-center"   style="line-height: 30px;color: #707b8e;font-family: 'Poppins', sans-serif;font-weight: 400;font-style: normal; text-align: center;">
          Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
        </p>
      </div>
    </div>
    <div class="manage-box d-flex f-rap Align-T" style="margin-left: 20px;">
      <img src="images/secure-payment-vector-icon-illustration-fashion-ecommerce-iconset_904970-138497.jpg"style=width:105px;height:105px;margin-bottom:40px; alt="manage-png">
      <div class="texts"> 
        <h5 class="capital-write w-100 d-flex justify-around "style=font-size:24px;margin-bottom:24px>
          Get Payments Easily
        </h5>
        <p class="para d-flex justify-center"   style="line-height: 30px;color: #707b8e;font-family: 'Poppins', sans-serif;font-weight: 400;font-style: normal; text-align: center;">
          Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
        </p>
      </div>
    </div>
    <div class="manage-box d-flex f-rap Align-T" style="margin-left: 20px;">
      <img src="images/8288664.png"style=width:105px;height:105px;margin-bottom:40px; alt="manage-png">
      <div class="texts"> 
        <h5 class="capital-write w-100 d-flex justify-around "style=font-size:24px;margin-bottom:24px>
           Quick Messaging
        </h5>
        <p class="para d-flex justify-center"   style="line-height: 30px;color: #707b8e;font-family: 'Poppins', sans-serif;font-weight: 400;font-style: normal; text-align: center;">
          Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
        </p>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="container-phase4">
    <div class="product-screnshots d-flex" style="padding-top: 200px;background-color: white;">
  <div class="info-screenshots" style="margin-top: 72px; padding-left: 105px;">
    <h6 class="applic-apps">Applic Apps
      <br>Screenshot</h6>
      <p class="para"style=line-height:1.5rem;color:#707b8e;>
        Lorem ipsum dolor sit amet, consecadipiscing elit, sed do eiusmod tempor incididunt ut ore et dolore magna aliqua. Quis ipsum suspendisse gravida. Risus commodo viverra maecenasan lacus vel facilisis.
      </p>
  </div>
  <div class="images-box d-flex">
  <div class="images-screen">
    <img src="images/App1.png" class="img"style=margin-right:15px;width:211.25px; alt="">
  </div>
  <div class="images-screen">
    <img src="images/App2.png" class="img"style=margin-right:15px;width:211.25px; alt="">
  </div>
  <div class="images-screen">
    <img src="images/App3.png" class="img"style=margin-right:15px;width:211.25px; alt="">
  </div>
  <div class="images-screen">
    <img src="images/App1.png" class="img" style=margin-right:15px;width:211.25px; alt="">
  </div>
  </div>
   </div>
  </div>